<div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped">
            <tr *ngIf="employee">
              <td>{{ employee.id }}</td>
              <td>{{ employee.name }}</td>
              <td>{{ employee.designation }}</td>
              <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
              <td>Active</td>
              <button class="btn btn-info" routerLink="/employeeDetails" >Details</button>
            </tr>
        </table>
      </div>
    </div>